// Created by skorytskyy on 10/24/2014.

extends ./includes/_layout
block content
  main(class="content")
    form.search-form.horizontal-form.m-l-70.m-t-40(enctype="text/plain")
      .form-el
        select(name="city")
          option(value="Львів") Львів
      .form-el
        select(id="district", name="district")
          each d in cities[0].districts
              if (selectedDistrict === d)
                option(value= d, selected="selected")= d
              else
                option(value= d)= d
      .form-el
        label(for="time") Цілодобово
          input(type="checkbox", id="time", name="time")
      .form-el
        button(type="submit", class="btn") Пошук
    if (pharms.length > 0)
      table.pharmacy-table
        thead
          tr
            th Назва
            th Адреса
            th Графік роботи
            th Контакти
        tbody
          each p in pharms
            tr
              td= p.name
              td= "вулиця " + p.address.street + " " + p.address.house
              td= p.time.night ? "Цілодобово" : p.time.schedule
              td= p.contacts
    else
      div= "Аптек не знайдено"